form {
    margin: auto;
    max-width: 600px;
    margin-top: 50px;
    padding: 15px 30px;
   
}
input[type=text], input[type=password], input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
 input[type=submit] {
    width: 100%;
    background-color: #5c8055;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  input[type=submit]:hover{
    opacity: 0.8;
  }
  form h1{
      text-align: center;
      margin: 0;
      color: #575857;
  }
  form p{
    text-align: center;
    color: white;
    padding: 10px;
  }