body{
    margin: 0;
    width: 100%;
    background-color: rgba(153, 245, 153, 0.712);
}
main{
    width: 100%;
}
main #funcoes{
    text-align: center;
    max-width: 850px;
    margin: 10px auto 0;
    padding: 10px;
    background-color: rgb(248, 206, 129);
    border-radius: 8px;
}
main #funcoes:hover{
    background-color:rgb(252, 190, 77);
}
main #funcoes h1{
    font-family: Apple Chancery, cursive;
    color: rgb(85, 85, 85);
    margin: 0;
}
main #funcoes a{
    text-decoration: none;
}
main #funcoes p{
    font-size: 20px;
    color: black;
}
.sair{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.sair input{
    padding: 10px 20px;
    margin-bottom: 10px;
}